html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 80%;
    background-color: #9C050B;
}

main{

    height:100%;
    background-color: #9C050B;
}   

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #9C050B;
    border-bottom: .15rem solid #A6A29F;
    height: 8%;
    

}

a {
    display: block;
    margin: 1.5rem;
    border: .2rem solid #A6A29F;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    color: #3F3E3E;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F0EB;
    font-weight: bold;
    
    
}

a:active {
    color: #3F3E3E;
    background-color:#A6A29F;
    font-size: 2rem;
}


ul {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%; 

}

li {

    display:flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height:20%;
    background-color: black;
}
