html {
    font-size: 16px;
    height: 100%;
}

body {    
    height: 100%;
    background-color:#F5F0EB;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .2rem solid #3F3E3E;
    font-size: 2rem;
    font-weight: bold;
    background-color:#9C050B;
    color: white;
}

main{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80%;
    
}

button, input{
    font-size: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow:.2rem .2rem .2rem #A6A29F;
}

ul {
    position: relative;
    
}

li.filtro{

    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    box-shadow:.2rem .2rem .2rem #A6A29F;
    padding: 1rem;
    margin: 3rem;

}

a.filtro {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}



.Arrow {
    position:absolute;
    width: 2rem;
    height: 2rem;
    top: .5rem;
    left: .5rem;
}

.QR{
    position:absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: .4rem;
    right: .4rem;
}
