html {
    font-size: 16px;
    height: 100%;
}


header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .2rem solid#3F3E3E;
    font-size: 2rem;
    color: white;
    background-color:#9C050B;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:80%;
    
}


h3 {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center; 
    color: #3F3E3E;

}


p {
    font-size: 1.1rem;
    align-self: center; 
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #A6A29F;

}

.p1{
    color: #ea1d2c;
}

iframe {

    width:100%
    
    
    }


body {
    height: 100%;
    background-color: #F5F0EB;
}

footer{
    display: flex;
    justify-content: center;


}

a {
    display: block;
    position:relative;
    padding: 0.1rem;
    border: 0.15rem solid #3F3E3E;
    text-decoration: none;
    border-radius: .5rem;
    text-align: center;
    font-size: 2rem;
    color: #3F3E3E;
        
}
    