html {
    font-size: 16px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url(../../img/RestauranteQR.png);
}

body{
height:100%;
font-family: 'Open Sans', sans-serif;


}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3rem;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    position: absolute;
    align-items: center;
    height: 100%;
}

p{
    position: relative;
    bottom: 12rem;
    left: 5rem;
    font-size: 0.8rem;
}

.Arrow {
    position:absolute;
    width: 2rem;
    height: 2rem;
    top: .5rem;
    left: .5rem;
}

    
.Scan {
    text-decoration: none;
    position: relative;
    top: 10rem;
    left: 5rem;
    color: #ea1d2c;
} 





